<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>早读古诗词</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
    <div class="box">
        <div class="me">
            <div style="margin-top: 2%;" class="text-center">
                <!-- 标题和作者 -->
                <h1>击壤歌</h1>
                <br>
                <span>佚名-〔先秦〕</span>
                <br>
                <br>
                <h4>日出而作，日入而息。</h4>
                <h4>凿井而饮，耕田而食。</h4>
                <h4>帝力于我何有哉！</h4>
                <br>
            </div>
        </div>
    </div>
</body>

</html>